html, body {
    height: 100%;
}

h1 {
    color:whitesmoke;
    margin-top: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

iframe {
    margin-top: 2%;
}

body {
    background-image: url(aircraft-g2eed01448_1920.jpg);
    background-size: cover;
    text-align: center;
    
}

p1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 80px;
}

p2 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 20px;
}

p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.text {
 text-align: center;
}

.full_screen {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}

.button {
    background-color: #5f5f5f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }