body {
    height: 100%;
    background-image: url(aircraft-g2eed01448_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color:whitesmoke;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 15px;
    text-align: center;
}

.text {
 text-align: center;
 margin-bottom: 50px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 color: whitesmoke;
}

.button {
    background-color: #5f5f5f;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .button_metar {
    background-color: #0057a3;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
